# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Documentation
**/doc/api/

# iOS and macOS
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/xcuserdata/
macos/Flutter/ephemeral/

# Android
android/local.properties
android/.gradle/
**/captures/
**/*.keystore
**/*.jks

# Windows & Linux desktop
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio build artifacts
android/app/debug/
android/app/profile/
android/app/release/
